streamlit==1.36.0
transformers==4.41.2
transformers[torch]
torch==2.3.1 # Explicitly list torch, as transformers[torch] can be tricky with exact pip freeze
accelerate==0.31.0 # Transformers now heavily relies on accelerate
scikit-learn==1.5.0
pandas==2.2.2
numpy==1.26.4
SQLAlchemy==2.0.30
pymysql==1.1.0
huggingface_hub==0.23.3 # Good to explicitly list, even if pulled by transformers