# Requirements for the project

# For data processing & ML
pandas
numpy
scikit-learn
torch
transformers
transformers[torch]
accelerate


# For NLP & text processing
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
presidio-analyzer
presidio-anonymizer


# For database
SQLAlchemy
pymysql


# For deployment & ui
huggingface_hub
streamlit
plotly-express


#Utilities
python-dotenv